.container {
  margin: 0 auto;
  max-width: 500px;
}

h1, .tagline {
  text-align: center;
}

body {
  font-family: 'Open Sans', Arial, sans-serif;
  background: #F9F7F5;
}

header, section{
  background: #FFFFFF;
  margin: 35px auto;
  padding: 35px;
}

img{
  width: 50px;
  height: 53px;
  padding: 7.5px;
}

span{
  padding-left: 30px;
  font-size: 16px;
}

h2{
  margin: 10px 6px;
  padding: 10px 0;
  border-bottom: 2px solid #CF965B;
}
